@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@font-face {
  font-family: "UniviaPro-Regular";
  src: url('/fonts/UniviaPro-Regular.otf');
}

@font-face {
  font-family: "Ethnocentric-rg";
  src: url('/fonts/Ethnocentric-rg.ttf');
}

.font-ethnocentric-rg {
  font-family: "Ethnocentric-rg", sans-serif;
}

.btn-common:active .btn-common-box {
  transform: translateY(4px);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "UniviaPro-Regular", Arial, Helvetica, sans-serif;
}

.main-section{
  background-image: url('/images/bg_main.jpg');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.roadmap-section {
  background-image: url('/images/bg_roadmap.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.bottom-section {
  background-image: url('/images/bg_bottom.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.feature-item {
  background-size: cover;
  background-position: right bottom;
}

.feature-item-1 {
  background-image: url('/images/bg_feature1.jpg');
}

.feature-item-2 {
  background-image: url('/images/bg_feature2.jpg');
}

.feature-item-3 {
  background-image: url('/images/bg_feature3.jpg');
}

.feature-item-4 {
  background-image: url('/images/bg_feature4.jpg');
}

.roadmap-top-box {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}

.animate__animated{-webkit-animation-duration:0.75s;animation-duration:0.75s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
@-webkit-keyframes fadeInUp{
  0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
  to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
@keyframes fadeInUp{
  0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
  to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
.animate__fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}

@-webkit-keyframes fadeInLeft{
  0%{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}
  to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
@keyframes fadeInLeft{
  0%{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}
  to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
.animate__fadeInLeft{-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft}

@-webkit-keyframes fadeInRight{
  0%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}
  to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
@keyframes fadeInRight{
  0%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}
  to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
.animate__fadeInRight{-webkit-animation-name:fadeInRight;animation-name:fadeInRight}


@media (max-width: 768px) {
  .main-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url('/images/bg_main.jpg') 80% bottom;
  }

  .roadmap-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url('/images/bg_roadmap.jpg') center top;
  }
}
