@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

input, 
textarea {
  outline: none;
}

@font-face {
  font-family: "UniviaPro-Regular";
  src: url('/fonts/UniviaPro-Regular.otf');
}

@font-face {
  font-family: "UniviaPro-Bold";
  src: url('/fonts/UniviaPro-Bold.otf');
}

.font-univia-pro-bold {
  font-family: "UniviaPro-Bold", sans-serif;
}

@font-face {
  font-family: "Ethnocentric-rg";
  src: url('/fonts/Ethnocentric-rg.ttf');
}

.font-ethnocentric-rg {
  font-family: "Ethnocentric-rg", sans-serif;
}

.btn-common:active .btn-common-box {
  transform: translateY(4px);
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.5) !important;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  z-index: 80;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay.overlay-bottom .ReactModal__Content {
  transform: translateY(50%);
}

.ReactModal__Overlay--after-open.overlay-bottom .ReactModal__Content {
  transform: translateY(0);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  inset: auto !important;
  max-height: 95vh;
  border: none !important;
  background-color: transparent !important;
  padding: 0 !important;
  outline: none;
  transition: transform 200ms ease-in-out;
  transform: scale(0.5);
  width: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModal__Overlay--after-open .ReactModal__Content {
  transform: scale(1);
}

.ReactModal__Content .modal-content {
  margin-left: auto;
  margin-right: auto;
}

.custom-toast {
  margin-top: 10px;
  border-radius: 10px;
  border: #fc5d8b 2px solid;
  padding: 15px;
  background: #18141e;
  width: 350px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "UniviaPro-Regular", Arial, Helvetica, sans-serif;
}

.eco-section .eco-img-box {
  background-image: url('/images/bg_eco.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.partner-section {
  background-image: url('/images/bg_partner.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bottom-section {
  background-image: url('/images/bg_bottom.jpg');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.feature-item {
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #201e2a;
}

.feature-item-1 {
  background-image: url('/images/bg_feature1.jpg');
}

.feature-item-2 {
  background-image: url('/images/bg_feature2.jpg');
}

.feature-item-3 {
  background-image: url('/images/bg_feature3.jpg');
}

.feature-item-4 {
  background-image: url('/images/bg_feature4.jpg');
}

.case-left-shape {
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

.case-right-shape {
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.roadmap-top-box {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}

.animate__animated{-webkit-animation-duration:0.75s;animation-duration:0.75s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.animate__delay-250{-webkit-animation-delay:0.25ss;animation-delay:0.25s;}
.animate__delay-500{-webkit-animation-delay:0.5s;animation-delay:0.5s;}
.animate__delay-750{-webkit-animation-delay:0.75s;animation-delay:0.75s;}
.animate__delay-1000{-webkit-animation-delay:1s;animation-delay:1s;}
.animate__delay-1250{-webkit-animation-delay:1.25s;animation-delay:1.25s;}
.animate__delay-1500{-webkit-animation-delay:1.5s;animation-delay:1.5s;}
.animate__delay-1750{-webkit-animation-delay:1.75s;animation-delay:1.75s;}
.animate__delay-2000{-webkit-animation-delay:2s;animation-delay:2s;}

@-webkit-keyframes fadeInUp{
  0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
  to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
@keyframes fadeInUp{
  0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
  to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
.animate__fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}

@-webkit-keyframes fadeInLeft{
  0%{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}
  to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
@keyframes fadeInLeft{
  0%{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}
  to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
.animate__fadeInLeft{-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft}

@-webkit-keyframes fadeInRight{
  0%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}
  to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
@keyframes fadeInRight{
  0%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}
  to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
.animate__fadeInRight{-webkit-animation-name:fadeInRight;animation-name:fadeInRight}

@keyframes scrollToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.ad-partner-list {
  animation: scrollToLeft 10s linear infinite;
}

.animate-spin {
  border-top-color:rgba(0, 0, 0, 0.5);
  border-left-color:rgba(0, 0, 0, 0.5);
  border-bottom-color: #ffffff;
  border-right-color: #ffffff;
  border-radius: 9999px;
  display: inline-block;
  vertical-align: middle;
  animation: spin 1s linear infinite;
}

.game-partner-bg {
  background: radial-gradient(
  ellipse at center,
  rgba(50, 10, 38, 1) 0%,    /* 中心颜色（不透明） */
  rgba(50, 10, 38, 0.2) 50%,   /* 中间过渡 */
  rgba(50, 10, 38, 0) 100%     /* 边缘完全透明 */
);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 768px) {

  .roadmap-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url('/images/bg_roadmap.jpg') center top;
  }
}
